<!doctype html>
<html>
<head>
<title>About Us</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">
</head>
<body> 
<div id="navdiv">
<ul>
  <li><a href="/" id="nav">F&#38;C</a></li>
  <li><a href="/order" id="nav">Order</a></li>
  <li><a href="/locate" id="nav">Locate</a></li>
  <li><a href="/about" class="active" id="nav">About us</a></li>
</ul>
</div>
	<div class="container">	
		<h2>About Us</h2>
		<br><br>
		<div id="centerdiv">
		<img width="40%" src="/static/about.png"><br>
		FNC stands for Fast And Cheap. Founded in 2018, FNC is committed to deliver fast, cheap and good food.
		</div>
	</div>
</body>
</html>	