<!DOCTYPE html>
<head>
<title>No. of orders</title>
<meta http-equiv="refresh" content="300"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery3.2.1.js"></script> 
    <script type="text/javascript" src="https://www.google.com/jsapi"></script> 
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">
    <script type="text/javascript"> 
	google.load('visualization', '1', {'packages':['corechart']}); 
	google.setOnLoadCallback(drawChart); 
	function drawChart() { 
		var data = new google.visualization.DataTable();
		data.addColumn('string', 'Hour')
		data.addColumn('number','Traffic');
		data.addRows([
			{%- for timeinfo, valueinfo in datapython[0] %}
				['{{ timeinfo }}', {{valueinfo}}],
			{%- endfor %}
		]);

		var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
		chart.draw(data, {title: '{{ datapython[3] }}', legend: 'none', hAxis: {title: 'Hour (24Hr Format)'}, vAxis: {baseline: 0, title: 'Traffic', format: '#'}, colors: ['#A0D100']});
	}
	</script>
	<script>
		$(document).ready(function(){
			setInterval(function(){
				location.reload();
				//drawChart();
			},3000);
		});
	</script>
 </head>
 <body>

<div id="navdiv">
<ul>
  <li><a id="nav">F&#38;C</a></li>  
  <li><a href="/revenue" id="nav">Revenue</a></li>
  <li><a href="/history" id="nav">Order History</a></li>
  <li><a href="/count" class="active" id="nav">Traffic</a></li>
  <li><a href="/firealarm" id="nav">Fire Alarm</a></li>
  <li><a href="/foodpreparationtime" id="nav">Food Prep. Time</a></li>
  <li><a href="/drinkpreparationtime" id="nav">Drink Prep. Time</a></li>
  <li><a href="/logout" id="logout">Logout</a></li>
</ul>
</div>
<div id="container">
		<h2>{{ datapython[3] }}</h2>
		<table>
		Select date:
		<form action="/count" method="POST">
			<input type="date" name="date">
			<input type="submit">
		</form>
		</table><br>
		<div id="chart_div"></div>
		<div id="centerdiv">
			<table id="profittable" class="display" cellspacing="0" width="50%">
				<tr>
				<th>Hour</th>
				<th>No. of orders</th>
				</tr>
				{%- for timeinfo, valueinfo in datapython[1] %}
				<tr>
				<td>{{ timeinfo }}</td><td>{{valueinfo}}</td>
				</tr>
			{%- endfor %}
			</table>
			<h2>Total Number of Orders: {{ datapython[2] }}</h2>
		</div>
	</div>

</body>
</html>