<!doctype html>
<html>
<head>
<title>Location</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">
</head>
<body> 
<div id="navdiv">
<ul>
  <li><a href="/" id="nav">F&#38;C</a></li>
  <li><a href="/order" id="nav">Order</a></li>
  <li><a href="/locate" class="active" id="nav">Locate</a></li>
  <li><a href="/about" id="nav">About us</a></li>
</ul>
</div>
	<div class="container">	
		<h2>Location of F&#38;C</h2>
		<br><br>
		<div id="centerdiv">
		We are located at Singapore Polytechnic Block T20<br><br>
		<img width="40%" src="/static/location.png">
		</div>
	</div>
</body>
</html>	